<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
   <!--  <h1 class="motto">
      ForUs...          ByUs...         TeachUs
    <h1 class="motto">ForUs...</h1>
    <h1 class="mottoTwo">ByUs...</h1>
    <h1 class="mottoThree">TeachUs</h1>
    </h1> -->
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Lectures</h3>
    <br />
    <p>Find lectures in a variety of subject</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Videos</h3>
    <br />
    <p>Are you a more visual learner? Join to watch these educational and entertaining vidoes</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Excercises</h3>
    <br />
    <p>Rank yourself with these point generating exercises</p>
  </div>
</div>
