@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.navbar{
  background: image_url('memphis-mini-dark.png');
  box-shadow: 0px 3px 6px #312E2E;
}
.navbar-inverse .navbar-brand{
  color: #E3E85A;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  font-weight: 500;
}
.hero{
   background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty h1{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.frosty h2{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.navbar{
  margin: 0;
}
.frosty{

  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.btn{
  border-radius: 0;
}
.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
body{
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.booyah-box{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
}
.booyah-box h1, .booyah-box h2{
  margin: 10px;
}
.invalid-feedback{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}







/*.motto{
  font-size: 75px;
  font-family: 'Inconsolata', monospace;
  color: #E3E85A;
  text-align: left;
  font-weight: 900;

}
.mottoTwo{
  font-size: 75px;
  font-family: 'Inconsolata', monospace;
  color: #E3E85A;
  text-align: center;
  font-weight: 900;
}
.mottoThree{
  font-size: 75px;
  font-family: 'Inconsolata', monospace;
  color: #E3E85A;
  text-align: right;
  font-weight: 900;
}*/
/*.motto{
  color: #E3E85A;
}*/